@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  background-color: #378ce7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hr {
  width: 100%;
  height: 20px;
  border-bottom: 1px solid black;
  text-align: center;
  opacity: 0.4;
}
.hrText {
  display: inline-block;
  font-size: 1rem;
  background-color: #ffffff;
  padding: 5px 10px;
}

#main {
  display: flex;
  flex-direction: column;
  margin: 15vh 10vw;
}
@media screen and (max-width: 1320px) {
  #main {
    margin: 7vh 10vw;
  }
}

@media screen and (max-width: 1150px) {
  #main {
    margin: 7vh 8vw;
  }
}

@media screen and (max-width: 950px) {
  #main {
    margin: 7vh 5vw;
  }
}
@media screen and (max-width: 850px) {
  #main {
    margin: 7vh 2vw;
  }
}
@media screen and (max-width: 600px) {
  #main {
    margin: 7vh 0;
  }
}
@media screen and (max-width: 500px) {
  #main {
    margin: 7vh 0;
  }
  .img2 {
    display: none;
  }
}
